
<!-- Begin login app code block -->
<!--Version 1.0 by G.E.P. -->
<html>
 <head>
 <title>Log into Synchrony</title>
 
<script language="JavaScript">
  

function GetToken() {
	 
}
	 

function Cancel(){

}
	 
 </script>
 
   </head>

   <body>
     <form name="DemoForm" method="post" action="login">
	  <table>
	  <tr>
       <td>Name : <input type="text" name="StringName" value="ConsumerCenter_QA:carecredit4054"/> </td>
	  </tr>
      <tr> 
	  <td>Password : <input type="password" name="StringPasswd" value="test12test"/></td>
	  </tr>
	  
	  <tr>
 		<td><input type="submit" value="Submit"></td>
	  </tr>
	  </table>
     </form>
	</body>
</html>
<!-- End login app code block -->